six
wheel
pillow
mypy
python-language-server
flake8
pylama
pylama-pylint
sorl-thumbnail
python-memcached
gunicorn
psycopg2-binary
django
djangorestframework
djangorestframework-jwt
django-cors-headers
django-filter
django-uuslug
django-mptt
django-debug-toolbar
django-extensions
django-admin-sortable2
