{% load core %}
<div class="row py-2">
    <div class="col">
          <table class="table table-stripped">
            <thead>
              <tr>
                <th>Name</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for obj in object_list %}
              <tr>
                <td><a href="{% get_view_url obj  %}">{{obj}}</a></td>
                <td>
                  <a href="{% get_view_url obj %}">Detail</a>
									<a href="{% get_change_url obj %}">Update</a>
									<a href="{% get_delete_url obj %}">Delete</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
  </div>
  <div class="d-flex flex-row">
    <div class="col">
      {% include 'partials/_pagination.html' %}
    </div>