{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/lib/jquery-ui-1.13.3/jquery-ui.css">
    <link href="/static/lib/bootstrap-5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/lib/bootstrap-icons-1.11.3/font/bootstrap-icons.css">
    <link href="/static/lib/select2/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/css/site.css">

    <script src="/static/js/jquery-3.7.1.min.js"></script>
    <script src="/static/lib/jquery-ui-1.13.3/jquery-ui.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/lib/bootstrap-5.3.3/js/bootstrap.min.js"></script>
    <script src="/static/lib/select2/select2.min.js"></script>
    <script src="/static/js/django_ajax.js"></script>
    <script src="/static/js/jquery.formset.js"></script>
    <script src="/static/lib/select2/select2.min.js"></script>
    <script src="/static/js/site.js"></script>
  </head>
  <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}" {% block body_attrs %}{% endblock %}>
    {% include 'cms/navbar.html' %}
    <div class="container-fluid">
  <div class="row">
    {% include 'cms/sidebar.html' %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
      </div>
      <h2>{% block section_title %}{% endblock %}</h2>
      {% block content %}{% endblock %}
    </main>
  </div>
</div>

<script>
  'use strict';
  (function(w,d,$){
      $(d).ready(function(){
          $('body').on('click', '.delete', function(e){
              e.preventDefault();
              let that = $(this);
              let c = confirm("Delete the object");
              if (c == true) {
                  $.ajax({
                      url: '/delete/item/',
                      method: 'GET',
                      data: {id: $(this).data('id'), model: $(this).data('model'), app:$(this).data('app')},
                      datatype: 'json',
                      success: function(result){
                          $(that).parent().parent().fadeOut();
                      }
                  });
              }
              return false;
          })
          $(".order").sortable({
              /*placeholder : "ui-state-highlight",*/
              update  : function(event, ui)
              {
               let page_id_array = new Array();
               let model_name = '';
               let app = '';
               $('.item').each(function(){
                page_id_array.push($(this).data("pk"));
                model_name = $(this).data("model");
                app = $(this).data("app");
               });
               $.ajax({
                url:"/model/order/",
                method:"POST",
                data:{page_id_array:page_id_array,model_name:model_name, app:app},
                success:function(data)
                {
                 console.info(data);
                }
               });
              }
          });
          $("[id$='_date']").datepicker();
          $("select").select2();
      })/* document ready */

  })(window,document,jQuery)

</script>
{% block scripts %}{% endblock scripts %}
  </body>
</html>
