{% url 'manage' as manage_url %}
{% url 'index' as index_url %}


<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link {% if request.path == manage_url %}active {% endif %}" aria-current="page" href="{{manage_url}}">
          <span data-feather="home"></span>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{index_url}}" target="_blank" rel="noopener noreferrer">
          View site
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#submenu-companies" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="submenu1">
            Companies
        </a>
        <div class="collapse" id="submenu-companies">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="{% url 'companies:company-list' %}" class="nav-link">Companies</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#submenu-invitations" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="submenu1">
          Invitations
      </a>
      <div class="collapse" id="submenu-invitations">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="{% url 'invitations:invitation-list' %}" class="nav-link">Invitations</a></li>
          </ul>
      </div>
  </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#submenu-products" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="submenu1">
          Links
      </a>
      <div class="collapse" id="submenu-products">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="" class="nav-link">Link</a></li>
          </ul>
      </div>
  </li>
    </ul>
  </div>
</nav>
